body{background-color:#fff;color:#333;font-size:28px;font-family:Helvetica Neue,Helvetica,sans-serif}
button,image,input,label,navigator,scroll-view,swiper,textarea,view{box-sizing:border-box}
.round{border-radius:5000px}
.radius{border-radius:6px}
image{position:relative;z-index:0;display:inline-block;max-width:100%}
image.loading:before{position:absolute;z-index:-2;display:block;width:100%;height:100%;background-color:#f5f5f5;content:""}
image.loading:after{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;display:block;margin:auto;width:32px;height:32px;color:#ccc;content:"\e7f1";font-size:32px;font-family:cuIcon;line-height:32px;animation:cuIcon-spin 2s infinite linear}
.response{width:100%}
checkbox,radio,switch{position:relative}
switch:after,switch:before{position:absolute;top:0;bottom:0;left:0;z-index:9;margin:auto;width:50%;height:26px;color:#fff!important;content:"\e645";text-align:center;font-size:26px;font-family:cuIcon;line-height:26px;transition:all .3s ease-in-out 0s;transform:scale(0,0);pointer-events:none}
switch:before{right:0;left:auto;content:"\e646"}
switch.checked:after,switch:before,switch[checked]:after{transform:scale(1,1)}
switch.checked:before,switch[checked]:before{transform:scale(0,0)}
checkbox:before,radio:before{position:absolute;top:50%;right:5px;z-index:9;margin-top:-8px;color:#fff!important;content:"\e645";font-size:32px;font-family:cuIcon;line-height:16px;transition:all .3s ease-in-out 0s;transform:scale(1,1);pointer-events:none}
checkbox .uni-checkbox-input,checkbox .wx-checkbox-input,radio .uni-radio-input,radio .wx-radio-input{margin:0;width:24px;height:24px}
checkbox.round .uni-checkbox-input,checkbox.round .wx-checkbox-input{border-radius:100px}
switch[checked]:before{transform:scale(0,0)}
switch .uni-switch-input,switch .wx-switch-input{margin:0;padding:0 24px;width:48px;height:26px;border:none;border-radius:100px}
switch .uni-switch-input:not([class*=bg-]),switch .wx-switch-input:not([class*=bg-]){background:#8799a3!important}
switch .uni-switch-input:after,switch .wx-switch-input:after{position:absolute;top:0;bottom:0;left:0;margin:auto;width:26px;height:26px;border-radius:100px;transition:all .1s ease-in-out 0s;transform:scale(.9,.9)}
switch .uni-switch-input.uni-switch-input-checked:after,switch .wx-switch-input.wx-switch-input-checked:after{left:22px;margin:auto;box-shadow:none;transform:scale(.9,.9)}
radio-group{display:inline-block}
switch.radius .uni-switch-input,switch.radius .uni-switch-input:after,switch.radius .uni-switch-input:before,switch.radius .wx-switch-input,switch.radius .wx-switch-input:after,switch.radius .wx-switch-input:before{border-radius:10px}
checkbox .uni-checkbox-input:before,checkbox .wx-checkbox-input:before,radio .uni-radio-input:before,radio .wx-radio-input:before,radio.radio:before,switch .uni-switch-input:before,switch .wx-switch-input:before{display:none}
radio.radio .uni-radio-input-checked:after,radio.radio[checked]:after{position:absolute;top:0;right:0;bottom:0;left:0;z-index:999;display:block;margin:auto;width:8px;height:8px;border:7px solid #fff!important;border:8px solid #fff!important;border-radius:200px;background-color:transparent;content:""}
.switch-sex:after{content:"\e71c"}
.switch-sex:before{content:"\e71a"}
.switch-sex .uni-switch-input,.switch-sex .wx-switch-input{border-color:#e54d42!important;background:#e54d42!important}
.switch-sex.checked .uni-switch-input,.switch-sex[checked] .wx-switch-input{border-color:#09f!important;background:#09f!important}
checkbox.red.checked .uni-checkbox-input,checkbox.red[checked] .wx-checkbox-input,radio.red.checked .uni-radio-input,radio.red[checked] .wx-radio-input,switch.red.checked .uni-switch-input.uni-switch-input-checked,switch.red[checked] .wx-switch-input.wx-switch-input-checked{border-color:#e54d42!important;background-color:#e54d42!important;color:#fff!important}
checkbox.orange.checked .uni-checkbox-input,checkbox.orange[checked] .wx-checkbox-input,radio.orange.checked .uni-radio-input,radio.orange[checked] .wx-radio-input,switch.orange.checked .uni-switch-input,switch.orange[checked] .wx-switch-input{border-color:#f37b1d!important;background-color:#f37b1d!important;color:#fff!important}
checkbox.yellow.checked .uni-checkbox-input,checkbox.yellow[checked] .wx-checkbox-input,radio.yellow.checked .uni-radio-input,radio.yellow[checked] .wx-radio-input,switch.yellow.checked .uni-switch-input,switch.yellow[checked] .wx-switch-input{border-color:#fbbd08!important;background-color:#fbbd08!important;color:#333!important}
checkbox.olive.checked .uni-checkbox-input,checkbox.olive[checked] .wx-checkbox-input,radio.olive.checked .uni-radio-input,radio.olive[checked] .wx-radio-input,switch.olive.checked .uni-switch-input,switch.olive[checked] .wx-switch-input{border-color:#8dc63f!important;background-color:#8dc63f!important;color:#fff!important}
checkbox.checked .uni-checkbox-input,checkbox.green.checked .uni-checkbox-input,checkbox.green[checked] .wx-checkbox-input,checkbox[checked] .wx-checkbox-input,radio.checked .uni-radio-input,radio.green.checked .uni-radio-input,radio.green[checked] .wx-radio-input,radio[checked] .wx-radio-input,switch.checked .uni-switch-input,switch.green.checked .uni-switch-input,switch.green[checked] .wx-switch-input,switch[checked] .wx-switch-input{border-color:#39b54a!important;background-color:#39b54a!important;color:#fff!important}
checkbox.cyan.checked .uni-checkbox-input,checkbox.cyan[checked] .wx-checkbox-input,radio.cyan.checked .uni-radio-input,radio.cyan[checked] .wx-radio-input,switch.cyan.checked .uni-switch-input,switch.cyan[checked] .wx-switch-input{border-color:#1cbbb4!important;background-color:#1cbbb4!important;color:#fff!important}
checkbox.blue.checked .uni-checkbox-input,checkbox.blue[checked] .wx-checkbox-input,radio.blue.checked .uni-radio-input,radio.blue[checked] .wx-radio-input,switch.blue.checked .uni-switch-input,switch.blue[checked] .wx-switch-input{border-color:#09f!important;background-color:#09f!important;color:#fff!important}
checkbox.purple.checked .uni-checkbox-input,checkbox.purple[checked] .wx-checkbox-input,radio.purple.checked .uni-radio-input,radio.purple[checked] .wx-radio-input,switch.purple.checked .uni-switch-input,switch.purple[checked] .wx-switch-input{border-color:#6739b6!important;background-color:#6739b6!important;color:#fff!important}
checkbox.mauve.checked .uni-checkbox-input,checkbox.mauve[checked] .wx-checkbox-input,radio.mauve.checked .uni-radio-input,radio.mauve[checked] .wx-radio-input,switch.mauve.checked .uni-switch-input,switch.mauve[checked] .wx-switch-input{border-color:#9c26b0!important;background-color:#9c26b0!important;color:#fff!important}
checkbox.pink.checked .uni-checkbox-input,checkbox.pink[checked] .wx-checkbox-input,radio.pink.checked .uni-radio-input,radio.pink[checked] .wx-radio-input,switch.pink.checked .uni-switch-input,switch.pink[checked] .wx-switch-input{border-color:#e03997!important;background-color:#e03997!important;color:#fff!important}
checkbox.brown.checked .uni-checkbox-input,checkbox.brown[checked] .wx-checkbox-input,radio.brown.checked .uni-radio-input,radio.brown[checked] .wx-radio-input,switch.brown.checked .uni-switch-input,switch.brown[checked] .wx-switch-input{border-color:#a5673f!important;background-color:#a5673f!important;color:#fff!important}
checkbox.grey.checked .uni-checkbox-input,checkbox.grey[checked] .wx-checkbox-input,radio.grey.checked .uni-radio-input,radio.grey[checked] .wx-radio-input,switch.grey.checked .uni-switch-input,switch.grey[checked] .wx-switch-input{border-color:#8799a3!important;background-color:#8799a3!important;color:#fff!important}
checkbox.gray.checked .uni-checkbox-input,checkbox.gray[checked] .wx-checkbox-input,radio.gray.checked .uni-radio-input,radio.gray[checked] .wx-radio-input,switch.gray.checked .uni-switch-input,switch.gray[checked] .wx-switch-input{border-color:#f0f0f0!important;background-color:#f0f0f0!important;color:#333!important}
checkbox.black.checked .uni-checkbox-input,checkbox.black[checked] .wx-checkbox-input,radio.black.checked .uni-radio-input,radio.black[checked] .wx-radio-input,switch.black.checked .uni-switch-input,switch.black[checked] .wx-switch-input{border-color:#333!important;background-color:#333!important;color:#fff!important}
checkbox.white.checked .uni-checkbox-input,checkbox.white[checked] .wx-checkbox-input,radio.white.checked .uni-radio-input,radio.white[checked] .wx-radio-input,switch.white.checked .uni-switch-input,switch.white[checked] .wx-switch-input{border-color:#fff!important;background-color:#fff!important;color:#333!important}
.dashed,.dashed-bottom,.dashed-left,.dashed-right,.dashed-top,.solid,.solid-bottom,.solid-left,.solid-right,.solid-top,.solids,.solids-bottom,.solids-left,.solids-right,.solids-top{position:relative}
.dashed-bottom:after,.dashed-left:after,.dashed-right:after,.dashed-top:after,.dashed:after,.solid-bottom:after,.solid-left:after,.solid-right:after,.solid-top:after,.solid:after,.solids-bottom:after,.solids-left:after,.solids-right:after,.solids-top:after,.solids:after{position:absolute;top:0;left:0;box-sizing:border-box;width:200%;height:200%;border-radius:inherit;content:" ";transform:scale(.5);transform-origin:0 0;pointer-events:none}
.solid:after{border:1px solid rgba(0,0,0,.1)}
.solid-top:after{border-top:1px solid rgba(0,0,0,.1)}
.solid-right:after{border-right:1px solid rgba(0,0,0,.1)}
.solid-bottom:after{border-bottom:1px solid rgba(0,0,0,.1)}
.solid-left:after{border-left:1px solid rgba(0,0,0,.1)}
.solids:after{border:8px solid #eee}
.solids-top:after{border-top:8px solid #eee}
.solids-right:after{border-right:8px solid #eee}
.solids-bottom:after{border-bottom:8px solid #eee}
.solids-left:after{border-left:8px solid #eee}
.dashed:after{border:1px dashed #ddd}
.dashed-top:after{border-top:1px dashed #ddd}
.dashed-right:after{border-right:1px dashed #ddd}
.dashed-bottom:after{border-bottom:1px dashed #ddd}
.dashed-left:after{border-left:1px dashed #ddd}
.shadow[class*=white]{--ShadowSize:0 0.2px 1px}
.shadow-lg{--ShadowSize:0px 40px 100px 0px}
.shadow-warp{position:relative;box-shadow:0 0 10px rgba(0,0,0,.1)}
.shadow-warp:after,.shadow-warp:before{position:absolute;top:20px;bottom:30px;left:20px;z-index:-1;width:50%;box-shadow:0 30px 20px rgba(0,0,0,.2);content:"";transform:rotate(-3deg)}
.shadow-warp:after{right:20px;left:auto;transform:rotate(3deg)}
.shadow-blur{position:relative}
.shadow-blur:before{position:absolute;top:10px;left:10px;z-index:-1;display:block;width:100%;height:100%;border-radius:inherit;background:inherit;content:"";opacity:.4;transform:scale(1,1);transform-origin:0 0;filter:blur(10px)}
.cu-btn{position:relative;display:inline-flex;overflow:visible;box-sizing:border-box;margin-right:initial;margin-left:initial;padding:0 30px;height:64px;border:0;text-align:center;text-decoration:none;font-size:28px;line-height:1;transform:translate(0,0);align-items:center;justify-content:center}
.cu-btn:after{display:none}
.cu-btn:not([class*=bg-]){background-color:#f0f0f0}
.cu-btn[class*=line]{background-color:transparent}
.cu-btn[class*=line]:after{position:absolute;top:0;left:0;z-index:1;display:block;box-sizing:border-box;width:200%;height:200%;border:1px solid currentColor;border-radius:12px;content:" ";transform:scale(.5);transform-origin:0 0;pointer-events:none}
.cu-btn.round[class*=line]:after{border-radius:1000px}
.cu-btn[class*=lines]:after{border:6px solid currentColor}
.cu-btn[class*=bg-]:after{display:none}
.cu-btn.xs{padding:0 10px;height:18px;font-size:16px}
.cu-btn.sm{padding:0 20px;height:48px;font-size:20px}
.cu-btn.lg{padding:0 40px;height:80px;font-size:32px}
.cu-btn.cuIcon.sm{width:48px;height:48px}
.cu-btn.cuIcon{padding:0;width:64px;height:64px;border-radius:500px}
button.cuIcon.lg{width:80px;height:80px}
.cu-btn.shadow-blur:before{top:4px;left:4px;opacity:.6;filter:blur(6px)}
.cu-btn.button-hover{transform:translate(1px,1px)}
.block{display:block}
.cu-btn.block{display:flex}
.cu-btn[disabled]{color:#fff;opacity:.6}
.cu-tag{position:relative;display:inline-flex;box-sizing:border-box;padding:0 16px;height:48px;vertical-align:middle;white-space:nowrap;font-size:24px;font-family:Helvetica Neue,Helvetica,sans-serif;align-items:center;justify-content:center}
.cu-tag:not([class*=bg]):not([class*=line]){background-color:#f1f1f1}
.cu-tag[class*=line-]:after{position:absolute;top:0;left:0;z-index:1;box-sizing:border-box;width:200%;height:200%;border:1px solid currentColor;border-radius:inherit;content:" ";transform:scale(.5);transform-origin:0 0;pointer-events:none}
.cu-tag.radius[class*=line]:after{border-radius:12px}
.cu-tag.round[class*=line]:after{border-radius:1000px}
.cu-tag[class*=line-]:after{border-radius:0}
.cu-tag+.cu-tag{margin-left:10px}
.cu-tag.sm{padding:0 12px;height:32px;font-size:20px}
.cu-capsule{display:inline-flex;vertical-align:middle}
.cu-capsule+.cu-capsule{margin-left:10px}
.cu-capsule .cu-tag{margin:0}
.cu-capsule .cu-tag[class*=line-]:last-child:after{border-left:0 solid transparent}
.cu-capsule .cu-tag[class*=line-]:first-child:after{border-right:0 solid transparent}
.cu-capsule.radius .cu-tag:first-child{border-bottom-left-radius:6px;border-top-left-radius:6px}
.cu-capsule.radius .cu-tag:last-child:after,.cu-capsule.radius .cu-tag[class*=line-]{border-top-right-radius:12px;border-bottom-right-radius:12px}
.cu-capsule.round .cu-tag:first-child{border-bottom-left-radius:200px;border-top-left-radius:200px;text-indent:4px}
.cu-capsule.round .cu-tag:last-child,.cu-capsule.round .cu-tag:last-child:after{border-top-right-radius:200px;border-bottom-right-radius:200px;text-indent:-4px}
.cu-tag.badge{position:absolute;top:-10px;right:-10px;padding:0 10px;height:28px;border-radius:200px;color:#fff;font-size:20px}
.cu-tag.badge:not([class*=bg-]){background-color:#dd514c}
.cu-tag:empty:not([class*=cuIcon-]){top:-4px;right:-4px;padding:0;width:16px;height:16px}
.cu-tag[class*=cuIcon-]{top:-4px;right:-4px;width:32px;height:32px}
.cu-avatar{position:relative;display:inline-flex;margin:0;padding:0;width:64px;height:64px;background-color:#ccc;background-position:center;background-size:cover;color:#fff;vertical-align:middle;text-align:center;white-space:nowrap;font-variant:small-caps;font-size:1.5em;justify-content:center;align-items:center}
.cu-avatar.sm{width:48px;height:48px;font-size:1em}
.cu-avatar.lg{width:96px;height:96px;font-size:2em}
.cu-avatar.xl{width:128px;height:128px;font-size:2.5em}
.cu-avatar .avatar-text{font-size:.4em}
.cu-avatar-group{display:inline-block;padding:0 10px 0 40px;unicode-bidi:bidi-override;direction:rtl}
.cu-avatar-group .cu-avatar{margin-left:-30px;border:4px solid #f1f1f1;vertical-align:middle}
.cu-avatar-group .cu-avatar.sm{margin-left:-20px;border:1px solid #f1f1f1}
.cu-progress{display:inline-flex;overflow:hidden;width:100%;height:28px;background-color:#ebeef5;align-items:center}
.cu-progress+text,.cu-progress+view{line-height:1}
.cu-progress.xs{height:10px}
.cu-progress.sm{height:20px}
.cu-progress view{width:0;height:100%;color:#fff;transition:width .6s ease;justify-items:flex-end;justify-content:space-around}
.cu-progress text,.cu-progress view{display:flex;font-size:20px;align-items:center}
.cu-progress text{color:#333;text-indent:10px}
.cu-progress.text-progress{padding-right:60px}
.cu-progress.striped view{background-image:linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 25%,transparent 50%,hsla(0,0%,100%,.15) 50%,hsla(0,0%,100%,.15) 75%,transparent 75%,transparent);background-size:72px 72px}
.cu-progress.active view{animation:progress-stripes 2s linear infinite}
@keyframes progress-stripes{0%{background-position:72px 0}
to{background-position:0 0}
}
.cu-load{display:block;text-align:center;line-height:3em}
.cu-load:before{display:inline-block;margin-right:6px;font-family:cuIcon}
.cu-load.loading:before{content:"\e67a";animation:cuIcon-spin 2s infinite linear}
.cu-load.loading:after{content:"加载中..."}
.cu-load.over:before{content:"\e64a"}
.cu-load.over:after{content:"没有更多了"}
.cu-load.erro:before{content:"\e658"}
.cu-load.erro:after{content:"加载失败"}
.cu-load.load-cuIcon:before{font-size:32px}
.cu-load.load-cuIcon.over,.cu-load.load-cuIcon:after{display:none}
.cu-load.load-modal{position:fixed;top:0;right:0;bottom:140px;left:0;z-index:9999;display:flex;margin:auto;width:260px;height:260px;border-radius:10px;background-color:#fff;box-shadow:0 0 0 2000px rgba(0,0,0,.5);font-size:28px;line-height:2.4em;align-items:center;flex-direction:column;justify-content:center}
.cu-load.load-modal [class*=cuIcon-]{font-size:60px}
.cu-load.load-modal image{width:70px;height:70px}
.cu-load.load-modal:after{position:absolute;z-index:-1;width:200px;height:200px;border-top:6px solid rgba(0,0,0,.05);border-right:6px solid rgba(0,0,0,.05);border-bottom:6px solid rgba(0,0,0,.05);border-left:6px solid #f37b1d;border-radius:50%;background-color:#fff;content:"";font-size:10px;animation:cuIcon-spin 1s infinite linear}
.load-progress{position:fixed;top:0;left:0;z-index:2000;width:100%;pointer-events:none}
.load-progress.hide{display:none}
.load-progress .load-progress-bar{position:relative;overflow:hidden;width:100%;height:4px;transition:all .2s ease 0s}
.load-progress .load-progress-spinner{position:absolute;top:10px;right:10px;z-index:2000;display:block}
.load-progress .load-progress-spinner:after{display:block;box-sizing:border-box;width:24px;height:24px;border:4px solid transparent;border-radius:50%;content:"";border-top-color:inherit;border-left-color:inherit;animation:load-progress-spinner .4s linear infinite}
@keyframes load-progress-spinner{0%{transform:rotate(0)}
to{transform:rotate(360deg)}
}
.grayscale{filter:grayscale(1)}
.cu-list+.cu-list{margin-top:30px}
.cu-list>.cu-item{transition:all .6s ease-in-out 0s;transform:translateX(0)}
.cu-list>.cu-item.move-cur{transform:translateX(-260px)}
.cu-list>.cu-item .move{position:absolute;right:0;display:flex;width:260px;height:100%;transform:translateX(100%)}
.cu-list>.cu-item .move view{display:flex;flex:1;justify-content:center;align-items:center}
.cu-list.menu-avatar{overflow:hidden}
.cu-list.menu-avatar>.cu-item{position:relative;display:flex;padding-right:10px;height:140px;background-color:#fff;justify-content:flex-end;align-items:center}
.cu-list.menu-avatar>.cu-item>.cu-avatar{position:absolute;left:30px}
.cu-list.menu-avatar>.cu-item .flex .text-cut{max-width:510px}
.cu-list.menu-avatar>.cu-item .content{position:absolute;left:146px;width:calc(100% - 96px - 60px - 120px - 20px);line-height:1.6em}
.cu-list.menu-avatar>.cu-item .content.flex-sub{width:calc(100% - 96px - 60px - 20px)}
.cu-list.menu-avatar>.cu-item .content>view:first-child{display:flex;font-size:30px;align-items:center}
.cu-list.menu-avatar>.cu-item .content .cu-tag.sm{display:inline-block;margin-left:10px;height:28px;font-size:16px;line-height:32px}
.cu-list.menu-avatar>.cu-item .action{width:100px;text-align:center}
.cu-list.menu-avatar>.cu-item .action view+view{margin-top:10px}
.cu-list.menu-avatar.comment>.cu-item .content{position:relative;left:0;width:auto;flex:1}
.cu-list.menu-avatar.comment>.cu-item{padding:30px 30px 30px 120px;height:auto}
.cu-list.menu-avatar.comment .cu-avatar{align-self:flex-start}
.cu-list.menu>.cu-item{position:relative;display:flex;padding:0 30px;min-height:100px;background-color:#fff;justify-content:space-between;align-items:center}
.cu-list.menu>.cu-item:last-child:after{border:none}
.cu-list.menu-avatar>.cu-item:after,.cu-list.menu>.cu-item:after{position:absolute;top:0;left:0;box-sizing:border-box;width:200%;height:200%;border-bottom:1px solid #ddd;border-radius:inherit;content:" ";transform:scale(.5);transform-origin:0 0;pointer-events:none}
.cu-list.menu>.cu-item.grayscale{background-color:#f5f5f5}
.cu-list.menu>.cu-item.cur{background-color:#fcf7e9}
.cu-list.menu>.cu-item.arrow{padding-right:90px}
.cu-list.menu>.cu-item.arrow:before{position:absolute;top:0;right:30px;bottom:0;display:block;margin:auto;width:30px;height:30px;color:#8799a3;content:"\e6a3";text-align:center;font-size:34px;font-family:cuIcon;line-height:30px}
.cu-list.menu>.cu-item button.content{padding:0;background-color:transparent;justify-content:flex-start}
.cu-list.menu>.cu-item button.content:after{display:none}
.cu-list.menu>.cu-item .cu-avatar-group .cu-avatar{border-color:#fff}
.cu-list.menu>.cu-item .content>view:first-child{display:flex;align-items:center}
.cu-list.menu>.cu-item .content>text[class*=cuIcon]{display:inline-block;margin-right:10px;width:1.6em;text-align:center}
.cu-list.menu>.cu-item .content>image{display:inline-block;margin-right:10px;width:1.6em;height:1.6em;vertical-align:middle}
.cu-list.menu>.cu-item .content{font-size:30px;line-height:1.6em;flex:1}
.cu-list.menu>.cu-item .content .cu-tag.sm{display:inline-block;margin-left:10px;height:28px;font-size:16px;line-height:32px}
.cu-list.menu>.cu-item .action .cu-tag:empty{right:10px}
.cu-list.menu{display:block;overflow:hidden}
.cu-list.menu.sm-border>.cu-item:after{left:30px;width:calc(200% - 120px)}
.cu-list.grid>.cu-item{position:relative;display:flex;padding:20px 0 30px;transition-duration:0s;flex-direction:column}
.cu-list.grid>.cu-item:after{position:absolute;top:0;left:0;box-sizing:border-box;width:200%;height:200%;border-right:1px solid rgba(0,0,0,.1);border-bottom:1px solid rgba(0,0,0,.1);border-radius:inherit;content:" ";transform:scale(.5);transform-origin:0 0;pointer-events:none}
.cu-list.grid>.cu-item text{display:block;margin-top:10px;color:#888;font-size:26px;line-height:40px}
.cu-list.grid>.cu-item [class*=cuIcon]{position:relative;display:block;margin-top:20px;width:100%;font-size:48px}
.cu-list.grid>.cu-item .cu-tag{right:auto;left:50%;margin-left:20px}
.cu-list.grid{background-color:#fff;text-align:center}
.cu-list.grid.no-border>.cu-item{padding-top:10px;padding-bottom:20px}
.cu-list.grid.no-border>.cu-item:after{border:none}
.cu-list.grid.no-border{padding:20px 10px}
.cu-list.grid.col-3>.cu-item:nth-child(3n):after,.cu-list.grid.col-4>.cu-item:nth-child(4n):after,.cu-list.grid.col-5>.cu-item:nth-child(5n):after{border-right-width:0}
.cu-list.card-menu{overflow:hidden;margin-right:30px;margin-left:30px;border-radius:20px}
.cu-bar{position:relative;min-height:100px;justify-content:space-between}
.cu-bar,.cu-bar .action{display:flex;align-items:center}
.cu-bar .action{height:100%;max-width:100%;justify-content:center}
.cu-bar .action.border-title{position:relative;top:-10px}
.cu-bar .action.border-title text[class*=bg-]:last-child{position:absolute;bottom:-.5rem;left:0;height:6px;min-width:2rem}
.cu-bar .action.sub-title{position:relative;top:-.2rem}
.cu-bar .action.sub-title text{position:relative;z-index:1}
.cu-bar .action.sub-title text[class*=bg-]:last-child{position:absolute;bottom:-.2rem;left:.6rem;z-index:0;display:inline-block;width:100%;height:.6rem;border-radius:6px;opacity:.3}
.cu-bar .action.sub-title text[class*=text-]:last-child{position:absolute;bottom:-.7rem;left:.5rem;z-index:0;display:inline-block;text-align:right;font-weight:900;font-size:36px;opacity:.2}
.cu-bar.justify-center .action.border-title text:last-child,.cu-bar.justify-center .action.sub-title text:last-child{right:0;left:0;margin:auto;text-align:center}
.cu-bar .action:first-child{margin-left:30px;font-size:30px}
.cu-bar .action text.text-cut{width:100%;text-align:left}
.cu-bar .cu-avatar:first-child{margin-left:20px}
.cu-bar .action:first-child>text[class*=cuIcon-]{margin-right:.3em;margin-left:-.3em}
.cu-bar .action:last-child{margin-right:30px}
.cu-bar .action>text[class*=cuIcon-],.cu-bar .action>view[class*=cuIcon-]{font-size:36px}
.cu-bar .action>text[class*=cuIcon-]+text[class*=cuIcon-]{margin-left:.5em}
.cu-bar .content{position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;margin:auto;width:calc(100% - 340px);height:60px;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-size:32px;line-height:60px;cursor:none;pointer-events:none}
.cu-bar.ios .content{bottom:7px;height:30px;font-size:32px;line-height:30px}
.cu-bar.btn-group{justify-content:space-around}
.cu-bar.btn-group button{margin:0 20px;padding:20px 32px;max-width:50%;flex:1}
.cu-bar .search-form{display:flex;margin:0 30px;height:64px;background-color:#f5f5f5;color:#333;font-size:24px;line-height:64px;flex:1;align-items:center}
.cu-bar .search-form+.action{margin-right:30px}
.cu-bar .search-form input{padding-right:30px;height:64px;background-color:transparent;font-size:26px;line-height:64px;flex:1}
.cu-bar .search-form [class*=cuIcon-]{margin:0 .5em 0 .8em}
.cu-bar .search-form [class*=cuIcon-]:before{top:0}
.cu-bar.fixed,.nav.fixed{top:0;box-shadow:0 1px 6px rgba(0,0,0,.1)}
.cu-bar.fixed,.cu-bar.foot,.nav.fixed{position:fixed;z-index:1024;width:100%}
.cu-bar.foot{bottom:0;box-shadow:0 -1px 6px rgba(0,0,0,.1)}
.cu-bar.tabbar{padding:0;padding-bottom:calc(env(safe-area-inset-bottom)/2)}
.cu-bar.tabbar,.cu-tabbar-height{height:calc(100px + env(safe-area-inset-bottom)/ 2)}
.cu-tabbar-height{min-height:100px}
.cu-bar.tabbar.shadow{box-shadow:0 -1px 6px rgba(0,0,0,.1)}
.cu-bar.tabbar .action{position:relative;display:block;overflow:initial;margin:0;padding:0;height:auto;background-color:inherit;text-align:center;font-size:22px;line-height:1;flex:1}
.cu-bar.tabbar.shop .action{width:140px;flex:initial}
.cu-bar.tabbar .action.add-action{position:relative;z-index:2;padding-top:50px}
.cu-bar.tabbar .action.add-action [class*=cuIcon-]{position:absolute;top:-35px;right:0;left:0;z-index:2;margin:auto;padding:0;width:70px;height:70px;border-radius:50%;font-size:50px;line-height:70px}
.cu-bar.tabbar .action.add-action:after{top:-50px;z-index:0;height:100px;border-radius:50px;box-shadow:0 -3px 8px rgba(0,0,0,.08)}
.cu-bar.tabbar .action.add-action:after,.cu-bar.tabbar .action.add-action:before{position:absolute;right:0;left:0;margin:auto;width:100px;background-color:inherit;content:""}
.cu-bar.tabbar .action.add-action:before{bottom:30px;z-index:1;height:30px}
.cu-bar.tabbar .btn-group{display:flex;padding:0 10px;flex:1;justify-content:space-around;align-items:center}
.cu-bar.tabbar button.action:after{border:0}
.cu-bar.tabbar .action [class*=cuIcon-]{position:relative;display:block;margin:0 auto 10px;width:100px;height:auto;text-align:center;font-size:40px}
.cu-bar.tabbar .action .cuIcon-cu-image{margin:0 auto}
.cu-bar.tabbar .action .cuIcon-cu-image image{display:inline-block;width:50px;height:50px}
.cu-bar.tabbar .submit{position:relative;display:flex;text-align:center;align-items:center;justify-content:center;flex:2;align-self:stretch}
.cu-bar.tabbar .submit:last-child{flex:2.6}
.cu-bar.tabbar .submit+.submit{flex:2}
.cu-bar.tabbar.border .action:before{position:absolute;top:0;left:0;z-index:3;width:200%;height:200%;border-right:1px solid rgba(0,0,0,.1);content:" ";transform:scale(.5);transform-origin:0 0}
.cu-bar.tabbar.border .action:last-child:before{display:none}
.cu-bar.input{padding-right:20px;background-color:#fff}
.cu-bar.input input{overflow:initial;margin:0 20px;height:64px;min-height:64px;font-size:30px;line-height:64px;flex:1}
.cu-bar.input .action{margin-left:20px}
.cu-bar.input .action [class*=cuIcon-]{font-size:48px}
.cu-bar.input input+.action{margin-right:20px;margin-left:0}
.cu-bar.input .action:first-child [class*=cuIcon-]{margin-left:0}
.cu-custom{position:relative;display:block}
.cu-custom .cu-bar .content{width:calc(100% - 440px)}
.cu-custom .cu-bar .action .cuIcon-back{opacity:0}
.cu-custom .cu-bar .content image{width:240px;height:60px}
.cu-custom .cu-bar{z-index:9999;padding-right:220px;padding-right:150px;min-height:0;box-shadow:0 0 0}
.cu-custom .cu-bar .border-custom{position:relative;height:30px;border-radius:1000px;background:rgba(0,0,0,.15)}
.cu-custom .cu-bar .border-custom:after{top:0;width:200%;height:200%;border:1px solid #fff;border-radius:inherit;opacity:.5}
.cu-custom .cu-bar .border-custom:after,.cu-custom .cu-bar .border-custom:before{position:absolute;left:0;box-sizing:border-box;content:" ";transform:scale(.5);transform-origin:0 0;pointer-events:none}
.cu-custom .cu-bar .border-custom:before{top:22.5%;right:0;margin:auto;width:1px;height:110%;background-color:#fff;opacity:.6}
.cu-custom .cu-bar .border-custom text{display:block;margin:auto!important;text-align:center;font-size:34px;flex:1}
.nav{white-space:nowrap}
::-webkit-scrollbar{display:none}
.nav .cu-item{display:inline-block;margin:0 10px;padding:0 20px;height:90px;line-height:90px}
.nav .cu-item.cur{border-bottom:4px solid}
.cu-timeline{display:block;background-color:#fff}
.cu-timeline .cu-time{display:block;padding:20px 0;width:120px;color:#888;text-align:center;font-size:26px}
.cu-timeline>.cu-item{position:relative;z-index:0;display:block;padding:30px 30px 30px 120px}
.cu-timeline>.cu-item:not([class*=text-]){color:#ccc}
.cu-timeline>.cu-item:after{position:absolute;top:0;left:60px;z-index:8;display:block;width:1px;height:100%;background-color:#ddd;content:""}
.cu-timeline>.cu-item:before{position:absolute;top:36px;left:36px;z-index:9;display:block;width:50px;height:50px;border:none;background-color:#fff;text-align:center;font-family:cuIcon;line-height:50px}
.cu-timeline>.cu-item:not([class*=cuIcon-]):before{content:"\e763"}
.cu-timeline>.cu-item[class*=cuIcon-]:before{left:36px;width:50px;height:50px;border:none;background-color:#fff;text-align:center;line-height:50px}
.cu-timeline>.cu-item>.content{display:block;padding:30px;border-radius:6px;line-height:1.6}
.cu-timeline>.cu-item>.content:not([class*=bg-]){background-color:#f1f1f1;color:#333}
.cu-timeline>.cu-item>.content+.content{margin-top:20px}
.cu-chat{display:flex;flex-direction:column}
.cu-chat .cu-item{position:relative;display:flex;padding:30px 30px 70px}
.cu-chat .cu-item>.cu-avatar{width:80px;height:80px}
.cu-chat .cu-item>.main{display:flex;margin:0 40px;max-width:calc(100% - 260px);align-items:center}
.cu-chat .cu-item>image{height:320px}
.cu-chat .cu-item>.main .content{position:relative;display:inline-flex;padding:20px;max-width:100%;min-height:80px;border-radius:6px;text-align:left;font-size:30px;line-height:40px;align-items:center}
.cu-chat .cu-item>.main .content:not([class*=bg-]){background-color:#fff;color:#333}
.cu-chat .cu-item .date{position:absolute;bottom:20px;left:160px;width:calc(100% - 320px);color:#8799a3;font-size:24px}
.cu-chat .cu-item .action{display:flex;padding:0 30px;align-items:center}
.cu-chat .cu-item>.main .content:after{position:absolute;top:27px;right:initial;left:-12px;z-index:100;display:inline-block;overflow:hidden;width:24px;height:24px;background-color:inherit;content:"";transform:rotate(45deg)}
.cu-chat .cu-item.self>.main .content:after{right:-12px;left:auto}
.cu-chat .cu-item>.main .content:before{position:absolute;top:30px;right:initial;left:-12px;z-index:-1;display:inline-block;overflow:hidden;width:24px;height:24px;background-color:inherit;content:"";opacity:.3;transform:rotate(45deg);filter:blur(5px)}
.cu-chat .cu-item>.main .content:not([class*=bg-]):before{background-color:#333;opacity:.1}
.cu-chat .cu-item.self>.main .content:before{right:-12px;left:auto}
.cu-chat .cu-item.self{text-align:right;justify-content:flex-end}
.cu-chat .cu-info{display:inline-block;margin:20px auto;padding:8px 12px;max-width:400px;border-radius:6px;background-color:rgba(0,0,0,.2);color:#fff;font-size:24px;line-height:1.4}
.cu-card,.cu-card>.cu-item{display:block;overflow:hidden}
.cu-card>.cu-item{margin:30px;border-radius:10px;background-color:#fff}
.cu-card>.cu-item.shadow-blur{overflow:initial}
.cu-card.no-card>.cu-item{margin:0;border-radius:0}
.cu-card .grid.grid-square{margin-bottom:-20px}
.cu-card.case .image{position:relative}
.cu-card.case .image image{width:100%}
.cu-card.case .image .cu-tag{position:absolute;top:0;right:0}
.cu-card.case .image .cu-bar{position:absolute;bottom:0;padding:0 30px;width:100%;background-color:transparent}
.cu-card.case.no-card .image{overflow:hidden;margin:30px 30px 0;border-radius:10px}
.cu-card.dynamic{display:block}
.cu-card.dynamic>.cu-item{display:block;overflow:hidden;background-color:#fff}
.cu-card.dynamic>.cu-item>.text-content{overflow:hidden;margin-bottom:20px;padding:0 30px;max-height:6.4em;font-size:30px}
.cu-card.dynamic>.cu-item .square-img{width:100%;height:200px;border-radius:6px}
.cu-card.dynamic>.cu-item .only-img{width:100%;height:320px;border-radius:6px}
.cu-card.article{display:block}
.cu-card.article>.cu-item{padding-bottom:30px}
.cu-card.article>.cu-item .title{padding:0 30px;color:#333;font-weight:900;font-size:30px;line-height:100px}
.cu-card.article>.cu-item .content{display:flex;padding:0 30px}
.cu-card.article>.cu-item .content>image{margin-right:20px;width:240px;height:6.4em;border-radius:6px}
.cu-card.article>.cu-item .content .desc{display:flex;flex:1;flex-direction:column;justify-content:space-between}
.cu-card.article>.cu-item .content .text-content{overflow:hidden;height:4.8em;color:#888;font-size:28px}
.cu-form-group{display:flex;padding:1px 30px;min-height:100px;background-color:#fff;align-items:center;justify-content:space-between}
.cu-form-group+.cu-form-group{border-top:1px solid #eee}
.cu-form-group .title{position:relative;padding-right:30px;height:60px;text-align:justify;font-size:30px;line-height:60px}
.cu-form-group input{padding-right:20px;color:#555;font-size:30px;flex:1}
.cu-form-group>text[class*=cuIcon-]{box-sizing:border-box;padding:0;font-size:36px}
.cu-form-group textarea{margin:32px 0 30px;padding:0;width:100%;height:4.6em;font-size:28px;line-height:1.2em;flex:1}
.cu-form-group.align-start .title{margin-top:32px;height:1em;line-height:1em}
.cu-form-group picker{position:relative;overflow:hidden;padding-right:40px;flex:1}
.cu-form-group picker .picker{overflow:hidden;width:100%;text-align:right;text-overflow:ellipsis;white-space:nowrap;font-size:28px;line-height:100px}
.cu-form-group picker:after{position:absolute;top:0;right:-20px;bottom:0;display:block;margin:auto;width:60px;color:#8799a3;content:"\e6a3";text-align:center;font-size:34px;font-family:cuIcon;line-height:100px}
.cu-form-group textarea[disabled],.cu-form-group textarea[disabled] .placeholder{color:transparent}
.cu-modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1110;outline:0;background:rgba(0,0,0,.6);text-align:center;opacity:0;transition:all .3s ease-in-out 0s;transform:scale(1.185);backface-visibility:hidden;perspective:2000px;pointer-events:none}
.cu-modal:before{display:inline-block;height:100%;content:"\200B";vertical-align:middle}
.cu-modal.show{overflow-x:hidden;overflow-y:auto;opacity:1;transition-duration:.3s;transform:scale(1);pointer-events:auto}
.cu-dialog{position:relative;display:inline-block;overflow:hidden;margin-right:auto;margin-left:auto;width:680px;max-width:100%;border-radius:10px;background-color:#f8f8f8;vertical-align:middle}
.cu-modal.bottom-modal:before{vertical-align:bottom}
.cu-modal.bottom-modal .cu-dialog{width:100%;border-radius:0}
.cu-modal.bottom-modal{margin-bottom:-1000px}
.cu-modal.bottom-modal.show{margin-bottom:0}
.cu-modal.drawer-modal{display:flex;transform:scale(1)}
.cu-modal.drawer-modal .cu-dialog{margin:initial;height:100%;min-width:200px;border-radius:0;transition-duration:.3s}
.cu-modal.drawer-modal.justify-start .cu-dialog{transform:translateX(-100%)}
.cu-modal.drawer-modal.justify-end .cu-dialog{transform:translateX(100%)}
.cu-modal.drawer-modal.show .cu-dialog{transform:translateX(0)}
.cu-modal .cu-dialog>.cu-bar:first-child .action{margin-right:0;min-width:100px;min-height:100px}
swiper .a-swiper-dot{display:inline-block;width:16px;height:16px;border-radius:50%;background:rgba(0,0,0,.3);vertical-align:middle}
swiper[class*=-dot] .a-swiper-dots,swiper[class*=-dot] .uni-swiper-dots,swiper[class*=-dot] .wx-swiper-dots{display:flex;width:100%;align-items:center;justify-content:center}
swiper.square-dot .a-swiper-dot,swiper.square-dot .uni-swiper-dot,swiper.square-dot .wx-swiper-dot{margin:0 8px!important;width:10px;height:10px;border-radius:20px;background-color:#fff;opacity:.4}
swiper.square-dot .a-swiper-dot.a-swiper-dot-active,swiper.square-dot .uni-swiper-dot.uni-swiper-dot-active,swiper.square-dot .wx-swiper-dot.wx-swiper-dot-active{width:30px;opacity:1}
swiper.round-dot .a-swiper-dot,swiper.round-dot .uni-swiper-dot,swiper.round-dot .wx-swiper-dot{position:relative;margin:4px 8px!important;width:10px;height:10px}
swiper.round-dot .a-swiper-dot.a-swiper-dot-active:after,swiper.round-dot .uni-swiper-dot.uni-swiper-dot-active:after,swiper.round-dot .wx-swiper-dot.wx-swiper-dot-active:after{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:10px;height:10px;border-radius:20px;background-color:#fff;content:""}
swiper.round-dot .a-swiper-dot.a-swiper-dot-active,swiper.round-dot .uni-swiper-dot.uni-swiper-dot-active,swiper.round-dot .wx-swiper-dot.wx-swiper-dot-active{width:18px;height:18px}
.screen-swiper{min-height:375px}
.screen-swiper image,.screen-swiper video,.swiper-item image,.swiper-item video{display:block;margin:0;width:100%;height:100%;pointer-events:none}
.card-swiper{height:420px!important}
.card-swiper swiper-item{left:70px;overflow:initial;box-sizing:border-box;padding:40px 0 70px;width:610px!important}
.card-swiper swiper-item .swiper-item{display:block;overflow:hidden;width:100%;height:100%;border-radius:10px;transition:all .2s ease-in 0s;transform:scale(.9)}
.card-swiper swiper-item.cur .swiper-item{transition:all .2s ease-in 0s;transform:none}
.tower-swiper{position:relative;overflow:hidden;height:420px;max-width:750px}
.tower-swiper .tower-item{position:absolute;top:0;bottom:0;left:50%;margin:auto;width:300px;height:380px;opacity:1;transition:all .2s ease-in 0s}
.tower-swiper .tower-item.none{opacity:0}
.tower-swiper .tower-item .swiper-item{overflow:hidden;width:100%;height:100%;border-radius:6px}
.cu-steps{display:flex}
scroll-view.cu-steps{display:block;white-space:nowrap}
scroll-view.cu-steps .cu-item{display:inline-block}
.cu-steps .cu-item{position:relative;min-width:100px;text-align:center;flex:1}
.cu-steps .cu-item:not([class*=text-]){color:#8799a3}
.cu-steps .cu-item .num,.cu-steps .cu-item [class*=cuIcon-]{display:block;font-size:40px;line-height:80px}
.cu-steps .cu-item:after,.cu-steps .cu-item:before,.cu-steps.steps-arrow .cu-item:after,.cu-steps.steps-arrow .cu-item:before{position:absolute;top:40px;left:calc(0px - (100% - 80px)/ 2);z-index:0;display:block;width:calc(100% - 80px);height:0;border-bottom:1px solid #ccc;content:""}
.cu-steps.steps-arrow .cu-item:after,.cu-steps.steps-arrow .cu-item:before{top:0;bottom:0;margin:auto;height:30px;color:#ccc;content:"\e6a3";font-family:cuIcon;line-height:30px;border-bottom-width:0}
.cu-steps.steps-bottom .cu-item:after,.cu-steps.steps-bottom .cu-item:before{top:initial;bottom:40px}
.cu-steps .cu-item:after{width:0;border-bottom:1px solid currentColor;transition:all .3s ease-in-out 0s}
.cu-steps .cu-item[class*=text-]:after{width:calc(100% - 80px);color:currentColor}
.cu-steps .cu-item:first-child:after,.cu-steps .cu-item:first-child:before{display:none}
.cu-steps .cu-item .num{position:relative;overflow:hidden;margin:20px auto;width:40px;height:40px;border:1px solid currentColor;border-radius:50%;font-size:24px;line-height:40px}
.cu-steps .cu-item[class*=text-] .num{background-color:currentColor}
.cu-steps .cu-item .num:after,.cu-steps .cu-item .num:before{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;content:attr(data-index);transition:all .3s ease-in-out 0s;transform:translateY(0)}
.cu-steps .cu-item[class*=text-] .num:before{color:#fff;transform:translateY(-40px)}
.cu-steps .cu-item .num:after{color:#fff;transition:all .3s ease-in-out 0s;transform:translateY(40px)}
.cu-steps .cu-item[class*=text-] .num:after{color:#fff;content:"\e645";font-family:cuIcon;transform:translateY(0)}
.cu-steps .cu-item[class*=text-] .num.err:after{content:"\e646"}
.flex{display:flex}
.basis-xs{flex-basis:20%}
.basis-sm{flex-basis:40%}
.basis-df{flex-basis:50%}
.basis-lg{flex-basis:60%}
.basis-xl{flex-basis:80%}
.flex-sub{flex:1}
.flex-twice{flex:2}
.flex-treble{flex:3}
.flex-direction{flex-direction:column}
.flex-wrap{flex-wrap:wrap}
.align-start{align-items:flex-start}
.align-end{align-items:flex-end}
.align-center{align-items:center}
.self-start{align-self:flex-start}
.self-center{align-self:flex-center}
.self-end{align-self:flex-end}
.self-stretch{align-self:stretch}
.align-stretch{align-items:stretch}
.justify-start{justify-content:flex-start}
.justify-end{justify-content:flex-end}
.justify-center{justify-content:center}
.justify-between{justify-content:space-between}
.justify-around{justify-content:space-around}
.grid{display:flex;flex-wrap:wrap}
.grid.grid-square{overflow:hidden}
.grid.grid-square .cu-tag{position:absolute;top:0;right:0;padding:6px 12px;height:auto;border-bottom-left-radius:6px;background-color:rgba(0,0,0,.5)}
.grid.grid-square>view>text[class*=cuIcon-]{position:absolute;top:0;right:0;bottom:0;left:0;display:flex;margin:auto;color:#8799a3;font-size:52px;justify-content:center;align-items:center;flex-direction:column}
.grid.grid-square>view{position:relative;overflow:hidden;margin-right:20px;margin-bottom:20px;border-radius:6px}
.grid.grid-square>view.bg-img image{position:absolute;width:100%;height:100%}
.grid.col-1.grid-square>view{margin-right:0;padding-bottom:100%;height:0}
.grid.col-2.grid-square>view{padding-bottom:calc((100% - 20px)/ 2);width:calc((100% - 20px)/ 2);height:0}
.grid.col-3.grid-square>view{padding-bottom:calc((100% - 40px)/ 3);width:calc((100% - 40px)/ 3);height:0}
.grid.col-4.grid-square>view{padding-bottom:calc((100% - 60px)/ 4);width:calc((100% - 60px)/ 4);height:0}
.grid.col-5.grid-square>view{padding-bottom:calc((100% - 80px)/ 5);width:calc((100% - 80px)/ 5);height:0}
.grid.col-2.grid-square>view:nth-child(2n),.grid.col-3.grid-square>view:nth-child(3n),.grid.col-4.grid-square>view:nth-child(4n),.grid.col-5.grid-square>view:nth-child(5n){margin-right:0}
.grid.col-1>view{width:100%}
.grid.col-2>view{width:50%}
.grid.col-3>view{width:33.33%}
.grid.col-4>view{width:25%}
.grid.col-5>view{width:20%}
.margin-0{margin:0}
.margin-xs{margin:10px}
.margin-sm{margin:20px}
.margin{margin:30px}
.margin-lg{margin:40px}
.margin-xl{margin:50px}
.margin-top-xs{margin-top:10px}
.margin-top-sm{margin-top:20px}
.margin-top{margin-top:30px}
.margin-top-lg{margin-top:40px}
.margin-top-xl{margin-top:50px}
.margin-right-xs{margin-right:10px}
.margin-right-sm{margin-right:20px}
.margin-right{margin-right:30px}
.margin-right-lg{margin-right:40px}
.margin-right-xl{margin-right:50px}
.margin-bottom-xs{margin-bottom:10px}
.margin-bottom-sm{margin-bottom:20px}
.margin-bottom{margin-bottom:30px}
.margin-bottom-lg{margin-bottom:40px}
.margin-bottom-xl{margin-bottom:50px}
.margin-left-xs{margin-left:10px}
.margin-left-sm{margin-left:20px}
.margin-left{margin-left:30px}
.margin-left-lg{margin-left:40px}
.margin-left-xl{margin-left:50px}
.margin-lr-xs{margin-right:10px;margin-left:10px}
.margin-lr-sm{margin-right:20px;margin-left:20px}
.margin-lr{margin-right:30px;margin-left:30px}
.margin-lr-lg{margin-right:40px;margin-left:40px}
.margin-lr-xl{margin-right:50px;margin-left:50px}
.margin-tb-xs{margin-top:10px;margin-bottom:10px}
.margin-tb-sm{margin-top:20px;margin-bottom:20px}
.margin-tb{margin-top:30px;margin-bottom:30px}
.margin-tb-lg{margin-top:40px;margin-bottom:40px}
.margin-tb-xl{margin-top:50px;margin-bottom:50px}
.padding-0{padding:0}
.padding-xs{padding:5px}
.padding-sm{padding:10px}
.padding{padding:15px}
.padding-lg{padding:20px}
.padding-xl{padding:25px}
.padding-top-xs{padding-top:5px}
.padding-top-sm{padding-top:10px}
.padding-top{padding-top:15px}
.padding-top-lg{padding-top:20px}
.padding-top-xl{padding-top:25px}
.padding-right-xs{padding-right:5px}
.padding-right-sm{padding-right:10px}
.padding-right{padding-right:15px}
.padding-right-lg{padding-right:20px}
.padding-right-xl{padding-right:25px}
.padding-bottom-xs{padding-bottom:5px}
.padding-bottom-sm{padding-bottom:10px}
.padding-bottom{padding-bottom:15px}
.padding-bottom-lg{padding-bottom:20px}
.padding-bottom-xl{padding-bottom:25px}
.padding-left-xs{padding-left:5px}
.padding-left-sm{padding-left:10px}
.padding-left{padding-left:15px}
.padding-left-lg{padding-left:20px}
.padding-left-xl{padding-left:25px}
.padding-lr-xs{padding-right:5px;padding-left:5px}
.padding-lr-sm{padding-right:10px;padding-left:10px}
.padding-lr{padding-right:15px;padding-left:15px}
.padding-lr-lg{padding-right:20px;padding-left:20px}
.padding-lr-xl{padding-right:25px;padding-left:25px}
.padding-tb-xs{padding-top:5px;padding-bottom:5px}
.padding-tb-sm{padding-top:10px;padding-bottom:10px}
.padding-tb{padding-top:15px;padding-bottom:15px}
.padding-tb-lg{padding-top:20px;padding-bottom:20px}
.padding-tb-xl{padding-top:25px;padding-bottom:25px}
.cf:after,.cf:before{display:table;content:" "}
.cf:after{clear:both}
.fl{float:left}
.fr{float:right}
.line-red:after,.lines-red:after{border-color:#e54d42}
.line-orange:after,.lines-orange:after{border-color:#f37b1d}
.line-yellow:after,.lines-yellow:after{border-color:#fbbd08}
.line-olive:after,.lines-olive:after{border-color:#8dc63f}
.line-green:after,.lines-green:after{border-color:#39b54a}
.line-cyan:after,.lines-cyan:after{border-color:#1cbbb4}
.line-blue:after,.lines-blue:after{border-color:#09f}
.line-purple:after,.lines-purple:after{border-color:#6739b6}
.line-mauve:after,.lines-mauve:after{border-color:#9c26b0}
.line-pink:after,.lines-pink:after{border-color:#e03997}
.line-brown:after,.lines-brown:after{border-color:#a5673f}
.line-grey:after,.lines-grey:after{border-color:#8799a3}
.line-gray:after,.lines-gray:after{border-color:#aaa}
.line-black:after,.lines-black:after{border-color:#333}
.line-white:after,.lines-white:after{border-color:#fff}
.bg-red{background-color:#e54d42;color:#fff}
.bg-orange{background-color:#f37b1d;color:#fff}
.bg-yellow{background-color:#fbbd08;color:#333}
.bg-olive{background-color:#8dc63f;color:#fff}
.bg-green{background-color:#39b54a;color:#fff}
.bg-cyan{background-color:#1cbbb4;color:#fff}
.bg-blue{background-color:#09f;color:#fff}
.bg-purple{background-color:#6739b6;color:#fff}
.bg-mauve{background-color:#9c26b0;color:#fff}
.bg-pink{background-color:#e03997;color:#fff}
.bg-brown{background-color:#a5673f;color:#fff}
.bg-grey{background-color:#8799a3;color:#fff}
.bg-gray{background-color:#f0f0f0;color:#333}
.bg-black{background-color:#333;color:#fff}
.bg-white{background-color:#fff;color:#666}
.bg-shadeTop{background-image:linear-gradient(#000,rgba(0,0,0,.01));color:#fff}
.bg-shadeBottom{background-image:linear-gradient(rgba(0,0,0,.01),#000);color:#fff}
.bg-red.light{background-color:#fadbd9;color:#e54d42}
.bg-orange.light{background-color:#fde6d2;color:#f37b1d}
.bg-yellow.light{background-color:#fef2ced2;color:#fbbd08}
.bg-olive.light{background-color:#e8f4d9;color:#8dc63f}
.bg-green.light{background-color:#d7f0dbff;color:#39b54a}
.bg-cyan.light{background-color:#d2f1f0;color:#1cbbb4}
.bg-blue.light{background-color:#cce6ff;color:#09f}
.bg-purple.light{background-color:#e1d7f0;color:#6739b6}
.bg-mauve.light{background-color:#ebd4ef;color:#9c26b0}
.bg-pink.light{background-color:#f9d7ea;color:#e03997}
.bg-brown.light{background-color:#ede1d9;color:#a5673f}
.bg-grey.light{background-color:#e7ebed;color:#8799a3}
.bg-gradual-red{background-image:linear-gradient(45deg,#f43f3b,#ec008c);color:#fff}
.bg-gradual-orange{background-image:linear-gradient(45deg,#ff9700,#ed1c24);color:#fff}
.bg-gradual-green{background-image:linear-gradient(45deg,#39b54a,#8dc63f);color:#fff}
.bg-gradual-purple{background-image:linear-gradient(45deg,#9000ff,#5e00ff);color:#fff}
.bg-gradual-pink{background-image:linear-gradient(45deg,#ec008c,#6739b6);color:#fff}
.bg-gradual-blue{background-image:linear-gradient(45deg,#09f,#1cbbb4);color:#fff}
.shadow[class*=-red]{box-shadow:6px 6px 8px rgba(204,69,59,.2)}
.shadow[class*=-orange]{box-shadow:6px 6px 8px rgba(217,109,26,.2)}
.shadow[class*=-yellow]{box-shadow:6px 6px 8px rgba(224,170,7,.2)}
.shadow[class*=-olive]{box-shadow:6px 6px 8px rgba(124,173,55,.2)}
.shadow[class*=-green]{box-shadow:6px 6px 8px rgba(48,156,63,.2)}
.shadow[class*=-cyan]{box-shadow:6px 6px 8px rgba(28,187,180,.2)}
.shadow[class*=-blue]{box-shadow:6px 6px 8px rgba(0,102,204,.2)}
.shadow[class*=-purple]{box-shadow:6px 6px 8px rgba(88,48,156,.2)}
.shadow[class*=-mauve]{box-shadow:6px 6px 8px rgba(133,33,150,.2)}
.shadow[class*=-pink]{box-shadow:6px 6px 8px rgba(199,50,134,.2)}
.shadow[class*=-brown]{box-shadow:6px 6px 8px rgba(140,88,53,.2)}
.shadow[class*=-gray],.shadow[class*=-grey]{box-shadow:6px 6px 8px rgba(114,130,138,.2)}
.shadow[class*=-black],.shadow[class*=-white]{box-shadow:6px 6px 8px rgba(26,26,26,.2)}
.text-shadow[class*=-red]{text-shadow:6px 6px 8px rgba(204,69,59,.2)}
.text-shadow[class*=-orange]{text-shadow:6px 6px 8px rgba(217,109,26,.2)}
.text-shadow[class*=-yellow]{text-shadow:6px 6px 8px rgba(224,170,7,.2)}
.text-shadow[class*=-olive]{text-shadow:6px 6px 8px rgba(124,173,55,.2)}
.text-shadow[class*=-green]{text-shadow:6px 6px 8px rgba(48,156,63,.2)}
.text-shadow[class*=-cyan]{text-shadow:6px 6px 8px rgba(28,187,180,.2)}
.text-shadow[class*=-blue]{text-shadow:6px 6px 8px rgba(0,102,204,.2)}
.text-shadow[class*=-purple]{text-shadow:6px 6px 8px rgba(88,48,156,.2)}
.text-shadow[class*=-mauve]{text-shadow:6px 6px 8px rgba(133,33,150,.2)}
.text-shadow[class*=-pink]{text-shadow:6px 6px 8px rgba(199,50,134,.2)}
.text-shadow[class*=-brown]{text-shadow:6px 6px 8px rgba(140,88,53,.2)}
.text-shadow[class*=-gray],.text-shadow[class*=-grey]{text-shadow:6px 6px 8px rgba(114,130,138,.2)}
.text-shadow[class*=-black]{text-shadow:6px 6px 8px rgba(26,26,26,.2)}
.bg-img{background-position:center;background-size:cover;background-repeat:no-repeat}
.bg-mask{position:relative;background-color:#333}
.bg-mask:after{position:absolute;top:0;right:0;bottom:0;left:0;display:block;width:100%;height:100%;border-radius:inherit;background-color:rgba(0,0,0,.4);content:""}
.bg-mask cover-view,.bg-mask view{position:relative;z-index:5}
.bg-video{position:relative}
.bg-video video{position:absolute;top:0;z-index:0;display:block;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;pointer-events:none}
.text-xxs{font-size:16px}
.text-xs{font-size:10px}
.text-sm{font-size:12px}
.text-df{font-size:14px}
.text-xsl{font-size:15px}
.text-lg{font-size:16px}
.text-xl{font-size:18px}
.text-sxl{font-size:20px}
.text-xxl{font-size:22px}
.text-sl{font-size:24px}
.text-ssl{font-size:60px}
.text-Abc{text-transform:Capitalize}
.text-ABC{text-transform:Uppercase}
.text-abc{text-transform:Lowercase}
.text-price:before{margin-right:4px;content:"¥";font-size:80%}
.text-cut{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;-o-text-overflow:ellipsis}
.text-bold{font-weight:700}
.text-center{text-align:center}
.text-content{line-height:1.6}
.text-left{text-align:left}
.text-right{text-align:right}
.line-red,.lines-red,.text-red{color:#e54d42}
.line-orange,.lines-orange,.text-orange{color:#f37b1d}
.line-yellow,.lines-yellow,.text-yellow{color:#fbbd08}
.line-olive,.lines-olive,.text-olive{color:#8dc63f}
.line-green,.lines-green,.text-green{color:#39b54a}
.line-cyan,.lines-cyan,.text-cyan{color:#1cbbb4}
.line-blue,.lines-blue,.text-blue{color:#09f}
.line-purple,.lines-purple,.text-purple{color:#6739b6}
.line-mauve,.lines-mauve,.text-mauve{color:#9c26b0}
.line-pink,.lines-pink,.text-pink{color:#e03997}
.line-brown,.lines-brown,.text-brown{color:#a5673f}
.line-grey,.lines-grey,.text-grey{color:#8799a3}
.line-gray,.lines-gray,.text-gray{color:#aaa}
.line-xgray,.lines-xgray,.text-xgray{color:#cbcbcb}
.line-black,.lines-black,.text-black{color:#333}
.line-white,.lines-white,.text-white{color:#fff}
