.loading {
	position: fixed;
	top: 88px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999999999;
	background: #fff
}

.loading div {
	display: flex;
	height: 30%;
	align-items: center;
	justify-content: center
}

.finish {
	background-image: url(../images/wx_paysuc.png);
	background-position: center bottom;
	background-size: calc(100% - 300px);
	background-repeat: no-repeat
}

.feedback {
	background-image: url(../images/wushuju.png);
	background-position: center;
	background-size: calc(100% - 220px);
	background-repeat: no-repeat
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	position: initial;
	top: 4px;
	right: 20px;
	display: inline-block;
	width: 28px;
	height: 26px;
	outline: 0 !important;
	border: 0;
	background-color: transparent;
	-webkit-appearance: none
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	position: initial;
	top: 4px;
	right: 20px;
	display: inline-block;
	width: 28px;
	height: 26px;
	outline: 0 !important;
	border: 0;
	background-color: transparent;
	-webkit-appearance: none
}

.transform_finish {
	width: 44px;
	height: 44px;
	border: 2px double #aaa;
	border-radius: 50%;
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	transform: rotate(-35deg)
}

.finishs {
	right: 0;
	bottom: 10px;
	width: 54px;
	height: 54px;
	background-image: url(../images/succse.png);
	background-position: center bottom;
	background-size: calc(100%-10px);
	background-repeat: no-repeat
}

.transform_progress {
	width: 44px;
	height: 44px;
	border: 2px double red;
	border-radius: 50%;
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	transform: rotate(-35deg)
}

.progress {
	right: 0;
	bottom: 10px;
	width: 54px;
	height: 54px;
	background-image: url(../images/jinxingzhon.png);
	background-position: center bottom;
	background-size: calc(100%-10px);
	background-repeat: no-repeat
}

.transform_unconfirmed {
	width: 44px;
	height: 44px;
	border: 2px double #007aff;
	border-radius: 50%;
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	transform: rotate(-35deg)
}

.unconfirmed {
	right: 0;
	bottom: 10px;
	width: 54px;
	height: 54px;
	background-image: url(../images/eer.png);
	background-position: center bottom;
	background-size: calc(100%-10px);
	background-repeat: no-repeat
}

.border-bottom:last-child,
.margin-top-xs {
	border-bottom: none
}

.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000
}

.mui-preview-footer,
.mui-preview-header {
	position: absolute;
	left: 0;
	z-index: 10;
	width: 100%
}

.mui-preview-header {
	top: 0;
	height: 44px
}

.mui-preview-footer {
	bottom: 0;
	height: 50px
}

.mui-preview-header .mui-preview-indicator {
	display: block;
	margin: 15px auto 4;
	width: 70px;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, .4);
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 25px
}

.mui-preview-image {
	display: none;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

.mui-preview-image.mui-preview-out {
	background: 0 0;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}

.mui-preview-image.mui-preview-out .mui-preview-footer,
.mui-preview-image.mui-preview-out .mui-preview-header {
	display: none
}

.mui-zoom-scroller {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin: 0;
	width: 100%;
	height: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-backface-visibility: hidden
}

.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
	display: inline-table
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle
}

.mui-preview-loading {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%
}

.mui-preview-loading.mui-active {
	display: block
}

.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	width: 50px;
	height: 50px
}

.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform .5s ease, opacity .5s ease;
	transition: transform .5s ease, opacity .5s ease
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

p img {
	height: auto;
	max-width: 100%
}

@media screen and (min-width:1440px) {
	.bg-nameinfo {
		min-height: 870px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.bg-historyinfo {
		height: 870px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}

	.margin-top-sm {
		margin-top-sm: -5.2em;
	}
	.pos-bf-top70{
		top:92%
	}
}

@media screen and (max-width:1440px) {
	.bg-nameinfo {
		min-height: 760px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.bg-historyinfo {
		height: 760px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}

	.margin-top-sm {
		margin-top-sm: -5.2em;
	}
	.pos-bf-top70{
		top:91%
	}
}

@media screen and (max-width:1366px) {
	.bg-nameinfo {
		min-height: 740px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.bg-historyinfo {
		height: 740px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}

	.margin-top-sm {
		margin-top-sm: -5.2em;
	}
	.pos-bf-top70{
		top:90%
	}
}

@media screen and (max-width:1280px) {
	.bg-nameinfo {
		min-height: 720px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.bg-historyinfo {
		height: 720px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}

	.margin-top-sm {
		margin-top-sm: -5.2em;
	}
	.pos-bf-top70{
		top:89%
	}
}

@media screen and (max-width:1180px) {
	.bg-nameinfo {
		min-height: 620px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.bg-historyinfo {
		height: 620px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}

	.margin-top-sm {
		margin-top-sm: -3.2em;
	}
	.pos-bf-top70{
		top:88%
	}
}

@media screen and (max-width:980px) {
	.bg-nameinfo {
		min-height: 580px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.bg-historyinfo {
		height: 580px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}

	.margin-top-sm {
		margin-top-sm: -3.2em;
	}
	.pos-bf-top70{
		top:87%
	}
}

@media screen and (max-width:860px) {
	.bg-nameinfo {
		min-height: 520px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.bg-historyinfo {
		height: 520px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}

	.margin-top-sm {
		margin-top-sm: -3.2em;
	}
	.pos-bf-top70{
		top:86%
	}
}

@media screen and (max-width:768px) {
	.bg-nameinfo {
		min-height: 460px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.bg-historyinfo {
		height: 460px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}

	.margin-top-sm {
		margin-top-sm: -3.2em;
	}
	.pos-bf-top70{
		top:85%
	}
}

@media screen and (max-width:640px) {
	.bg-nameinfo {
		min-height: 250px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat
	}
	.bg-historyinfo {
		height: 250px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}
	.pos-bf-top70{
		top:82%
	}
}

@media screen and (max-width:400px) {
	.bg-nameinfo {
		min-height: 240px;
		background-image: url(../images/bg-fafangpsd_ys.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat
	}
	.bg-historyinfo {
		height: 220px;
		background-image: url(../images/bg-historyinfo.png);
		background-position: center;
		background-size: calc(100%);
		background-repeat: no-repeat
	}
	.finishs {
	    right: 0;
	    bottom: 20px;
	    width: 20px;
	    height: 20px;
	    background-image: url(../images/succse20.png);
		border-radius:50px ;
	    background-position: center bottom;
	    background-size: calc(100%-10px);
	    background-repeat: no-repeat;
	}
	.progress {
		right: 0;
		bottom: 20px;
		width: 20px;
		height: 20px;
		/* background: #007AFF; */
		border-radius:50px ;
		background-image: url(../images/jinxingzhon20.png);
		background-position: center bottom;
		background-size: calc(100%-10px);
		background-repeat: no-repeat
	}
	.unconfirmed {
		right: 0;
		bottom: 20px;
		width: 20px;
		height: 20px;
		/* background: #007AFF; */
		border-radius:50px ;
		background-image: url(../images/eer20.png);
		background-position: center bottom;
		background-size: calc(100%-10px);
		background-repeat: no-repeat
	}
	.padding-left-xl{
		padding-left:6px ;
	}
	.pos-bf-top70{
		top:70%
	}
}
